/* common fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins:wght@400;500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}

/* header section */
.nav-container{
    max-width: 1300px;
    margin: 10px auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.nav-title{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.item{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #3A3A3A;
}
/* nav-manu for mobile device */
.m-nav{
    display: none;
}

/* main part */
.container{
    max-width: 1300px;
    margin: 40px auto;
}

/* top section */
.top-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    margin-bottom: 40px;
    
}
.intro{
    width: 45%;
}
.title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: bolder;
    line-height: 1.3em;
}
.description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 500;
}
.intro-img{
    width: 40%;
    padding: 20px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.intro-img img{
    width: 85%;
}
.btn{
    color: white;
    font-size: 16px;
    background-color: #E02C6D;
    margin-top: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
}

/* partner section */
.partner{
    max-width: 1100px;
    margin: 100px auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
    /* box-shadow: 5px 5px 5px  rgb(228, 228, 228); */
}

/* product-section */
.product-sec{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.product{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgb(204, 204, 204);
}
.sec-title{
    color: #3A3A3A;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}
.product-img img{
    width: 100%;
}
.product-title{
    color: #18191F;
    font-size: 28px;
    font-weight: 600;
    line-height: .8em;
}
.product-price{
    color: #000000;
    font-size: 28px;
    font-weight: 300;
    line-height: .8em;
}
.rating{
    font-size: 14px;
    color: #FB8200;
}
.rating span{
    font-size: 14px;
    color: #5E6366;
}
.property{
    font-size: 14px;
    font-weight: 500;
    color: #787885;
}
.product-btn{
    color: #E02C6D;
    font-size: 16px;
    border: none;
    background-color: white;
    text-align-last: right;
}
.flex-box{
    display: flex;
    justify-content: flex-end;
}

/* Last section */
.conclude{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.conclude-img{
    width: 50%;
}
.conclude-img img{
    width: 80%;
}
.conclusion{
    width: 50%;
}
.conclude-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2em;
    color: #000000;
}
.conclude-btn{
    color: white;
    background-color: #E02C6D;
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    margin-top: 16px;
}

/* footer section */
.foot{
    background-color: #0A0826;
    text-align: center;
    padding: 40px;
}
.footer-title{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
}
.footer-description{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}
.social-icon{
   font-size: 24px;
   color: white;
}
.social-icon i{
    margin: 10px;
}

/* responsive */

/* for mobile device */
@media only screen and (max-width:688px) {
    .nav{
        display: none;
    }
   
    .top-sec{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .m-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .hamburger{
        color: #1b1b1b;
        font-size: 18px;
    }
    .m-title{
        font-size: 18px;
        font-weight: 700;
        color: #3A3A3A;
    }
    .intro{
        width: 100%;
    }
    .intro-img{
        background-position: center;
        width: 100%;
    }   
    .title {
        color: #3A3A3A;
        font-size: 36px;
        font-weight: bolder;
        line-height: 1.3em;
    }
    
    .description {
        color: #3A3A3A;
        font-size: 14px;
        font-weight: 500;
    }
    .btn{
        font-size: 14px;
    }
    .partner{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        gap: 10px;
        align-items: center;
    }
    .partner img{
        width: 70%;
    }
    .sec-title{
        font-size: 24px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
    }
    .product-title{
        font-size: 20px;
    }
    .product-price{
        font-size: 20px;
    }
    .rating{
        font-size: 12px;
    }
    .rating span{
        font-size: 12px;
    }
    .property{
        font-size: 12px;
    }
    .product-btn{
        font-size: 14px;
    }
    .conclude{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .conclude-img{
        width: 100%;
    }
    .conclusion{
        width: 100%;
    }
    .conclude-img img{
        width: 100%;
    }
    .conclude-title{
        font-size: 24px;
    }
    .conclude-btn{
        font-size: 14px;
    }
    .footer-title{
        font-size: 20px;
    }
    .footer-description{
        font-size: 12px;
    }
    .social-icon{
        font-size: 20px;
    }

}